//colours
$primary: #0c1f2d;
$title: #afb2ba;
$text: #7c848c;
$secondary: #00ff9f;
$light-primary: #112d40;
$light-title: #d6d8db;

$bg-footer: #f6f0fc;
$footer-text: #734da3;

$footer-height: 140px;

$inactive: #c7c7c7;
$active: $secondary;

$border-height: 2px;
